<link rel="stylesheet" href="../css/gameResults.css">
<div class="row" id="teamSelectRow" ng-controller="ResultsCtrl" ng-init="initResults()">
	<div class="col-lg-4 col-lg-offset-2" >
		<div class="center-block" >			
			<span class="btn btn-primary" type="button" id="blueTeamDisplay">
				{{blueTeam}}	
			</span>								
		</div>		
		<img style="margin-left:50px;" class="victoryDisplay" ng-src="images/victory.png"/>			
	</div>

	<div class="col-lg-4 col-lg-offset-2">
		<div>
			<span class="btn btn-primary" id="redTeamDisplay">
				{{redTeam}} 					
			</span>	
		</div>			
		<img class="defeatDisplay" ng-src="images/defeat.png"/>		
	</div>
</div>

<div class="row" id="PlayersChampionsRow" ng-controller="ResultsCtrl" ng-init="initResults()">
	 <div class="col-lg-4 col-lg-offset-2">
		<div style="float:right; margin-right: 10%;">	
			<header></header>
			<div class="playerNames" ng-repeat="bluePlayer in blueTeamPlayers">
				<span id="{{bluePlayer.name}}Name" class="playerBlueName"> {{bluePlayer.name}} </span>
				<img id="{{bluePlayer.name}}Champion" class="playerChampSelect bluePlayerChampSelect" ng-src="images/champions/square/{{bluePlayer.champion}}_Square_0.png"/>
				<div class="blueScores">
					<span class="score">0</span>
					<span class="score">/</span>
					<span class="score">0</span>
					<span class="score">/</span>
					<span class="score">0</span>
				</div>						
			</div>	
		</div>	
	 </div>		 	
	
	 <div class="col-lg-4">
		 <div style="float:left; margin-left: 10%;">	
			<div class="playerNames playerNamesRed" ng-repeat="redPlayer in redTeamPlayers">	
				<div class="redScores">
					<span class="score">0</span>
					<span class="score">/</span>
					<span class="score">0</span>
					<span class="score">/</span>
					<span class="score">0</span>
				</div>	
				<img id="{{redPlayer.name}}Champion" class="playerChampSelect redPlayerChampSelect" ng-src="images/champions/square/{{redPlayer.champion}}_Square_0.png"/>
				<span id="{{redPlayer.name}}Name" class="playerRedName"> {{redPlayer.name}} </span>
			</div>	
		</div>	
	 </div>
</div>
			
			
			
		
	