<link rel="stylesheet" href="../css/gameResults.css">
<div class="row" id="teamSelectRow" ng-controller="ResultsCtrl" ng-init="initResults()">
	<div class="col-lg-4 col-lg-offset-2" >
		<div class="center-block" >			
			<span class="btn btn-primary" type="button" id="blueTeamDisplay">
				{{blueTeam}}	
			</span>								
		</div>		
		<img style="margin-left:50px;" class="victoryDisplay" ng-src="images/victory.png"/>			
	</div>

	<div class="col-lg-4 col-lg-offset-2">
		<div>
			<span class="btn btn-primary" id="redTeamDisplay">
				{{redTeam}} 					
			</span>	
		</div>			
		<img class="defeatDisplay" ng-src="images/defeat.png"/>		
	</div>
</div>

<div class="row" id="PlayersChampionsRow" ng-controller="ResultsCtrl" ng-init="initResults()">
	 <div class="col-lg-2 col-lg-offset-2">
		<div class="center-block">	
			<div class="playerNames" ng-repeat="bluePlayer in blueTeamPlayers">
				<p id="{{bluePlayer.name}}Name"> {{bluePlayer.name}} </p>
				<img id="{{bluePlayer.name}}Champion" class="playerChampSelect" ng-src="images/champions/square/{{bluePlayer.champion}}_Square_0.png"/>						
			</div>	
		</div>	
	 </div>		 	
	
	 <div class="col-lg-2">
		 <div class="center-block">	
			<div class="playerNames playerNamesRed" ng-repeat="redPlayer in redTeamPlayers">
				<p id="{{redPlayer.name}}Name"> {{redPlayer.name}} </p>
				<img id="{{redPlayer.name}}Champion" class="playerChampSelect" ng-src="images/champions/square/{{redPlayer.champion}}_Square_0.png"/>
			</div>	
		</div>	
	 </div>
</div>
			
			
			
		
	