#teamSelectRow{
	margin-top:50px;
}

#redTeamDisplay, #blueTeamDisplay{
	min-width:200px;
}

#redTeamDisplay{
	margin-left:50px;
}


.playerNames{
	color:#FFF;
	margin-top:40px;
}

.playerNamesRed{
	margin-left:100px;
}

.playerChampSelect{
	width:80px;
	margin-left:60px;
}

.victoryDisplay{
	width:300px;	
	margin-top:50px;	
}

.defeatDisplay{
	width:200px;
	margin-top:50px;	
}

.row{
	margin-left:0px;
	margin-right:0px;
}
